Repository Setaday/Setaday-Client, pull requests merged in 2025-01, with the labels that each got.

#115 feat(design-token): gray_2 색상 변경을 반영합니다.
  .changeset/bright-ears-admire.md
  packages/design-token/src/color.ts
Labels: ✨ feat, 🖌️ design-system, size/XS

#116 Version Packages
  .changeset/bright-ears-admire.md
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/design-token/CHANGELOG.md
  packages/design-token/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: size/M

#118 fix(mobile): 모바일로 확인했을 때 ui가 깨지는 이슈를 해결합니다.
  apps/mobile/app/select-date/page.tsx
  apps/mobile/components/select-date/SelectDateCalendar.tsx
Labels: 🐞 bugfix, 📱 mobile, size/M
